body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  margin: 0;
  padding: 0;
}
header {
  background: #9370DB;
  padding: 19px;
}
footer {
  text-align: center;
  background: #1c1c1c;
  color: #ccc;
  padding: 30px 0;
  border-top: 1px solid #333;
}
.navbar-nav .nav-link {
  color: #ccc !important;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.fw-bold {
  color: #ffffff !important;
}
footer p {
  margin: 0;
  font-size: 0.9rem;
}
nav ul li{
  padding: 0;
  display: inline;
  margin-right: 30px;
}


a {
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

a:hover {
  color: #49187e;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

section {
  padding: 20px;
  margin: 11px;
  border-radius: 15px;
}

.mainbox .container {
  max-width: none !important;
  width: 100% !important;
  padding: 0;
}
.album-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}
.album-card {
  flex: 0 0 auto;
  width: 150px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.album-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}
.album-card img.album {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}
.album-card p {
  margin: 5px 0 0 0;
  font-size: 1rem;
  color: #ccc;
}
table {
  width: 60%;
  border-collapse: collapse;
  margin: 20px 0;
  width: 100%;
  border: none;
}

th, td {
  /*border: 1px solid ;*/
  border: none;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  width: 100px;
  height: 100px;
}

.album {
  width: 150px;
  height: 150px;
  display: inline;
  margin: 5px;
}
.libraryPhoto{
  width: 100px;
  height: 100px;
}
p{
  margin: 10px;
}

.mainbox{
  background: #574d60;
  display: flex;
  gap: 40px;
  padding: 40px;
  height: auto
}
.profile-photo img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-info h2 {
  font-size: 40px;
}
.custom-card {
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color:white;
}

.custom-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}
.header-content {
  display: flex;
  align-items: center;
}
#serif-text {
  font-family: "Times New Roman", serif;
  font-size: 20px;
  font-weight: normal;
}

#sans-text {
  font-family: Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
}

#mono-text {
  font-family: "Courier New", monospace;
  font-size: 18px;
  font-style: italic;
}
/** {*/
/*  border: 1px solid red; !* красная рамка вокруг всего *!*/
/*}*/
